    /*
    Flaticon icon font: Flaticon
    Creation date: 20/09/2018 12:08
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-001-coffee:before { content: "\f100"; }
.flaticon-002-juice:before { content: "\f101"; }
.flaticon-003-menu:before { content: "\f102"; }
.flaticon-004-cupcake:before { content: "\f103"; }
.flaticon-005-menu-1:before { content: "\f104"; }
.flaticon-006-lamp:before { content: "\f105"; }
.flaticon-007-soup:before { content: "\f106"; }
.flaticon-008-cutlery:before { content: "\f107"; }
.flaticon-009-burger:before { content: "\f108"; }
.flaticon-010-wine:before { content: "\f109"; }
.flaticon-011-paper-cup:before { content: "\f10a"; }
.flaticon-012-coffee-1:before { content: "\f10b"; }
.flaticon-013-open:before { content: "\f10c"; }
.flaticon-014-order:before { content: "\f10d"; }
.flaticon-015-candle:before { content: "\f10e"; }
.flaticon-016-pizza:before { content: "\f10f"; }
.flaticon-017-cutlery-1:before { content: "\f110"; }
.flaticon-018-beverage:before { content: "\f111"; }
.flaticon-019-tea:before { content: "\f112"; }
.flaticon-020-dinning-table:before { content: "\f113"; }
.flaticon-021-beverage-1:before { content: "\f114"; }
.flaticon-022-burrito:before { content: "\f115"; }
.flaticon-023-pot:before { content: "\f116"; }
.flaticon-024-sauce:before { content: "\f117"; }
.flaticon-025-french-fries:before { content: "\f118"; }
.flaticon-026-croissant:before { content: "\f119"; }
.flaticon-027-service:before { content: "\f11a"; }
.flaticon-028-wine-1:before { content: "\f11b"; }
.flaticon-029-bill:before { content: "\f11c"; }
.flaticon-030-soup-1:before { content: "\f11d"; }
.flaticon-031-ketchup:before { content: "\f11e"; }
.flaticon-032-donut:before { content: "\f11f"; }
.flaticon-033-close:before { content: "\f120"; }
.flaticon-034-tea-pot:before { content: "\f121"; }
.flaticon-035-coffee-pot:before { content: "\f122"; }
.flaticon-036-beverage-2:before { content: "\f123"; }
.flaticon-037-cake:before { content: "\f124"; }
.flaticon-038-chicken:before { content: "\f125"; }
.flaticon-039-rice:before { content: "\f126"; }
.flaticon-040-bread:before { content: "\f127"; }
.flaticon-041-pan:before { content: "\f128"; }
.flaticon-042-ice-cream:before { content: "\f129"; }
.flaticon-043-number:before { content: "\f12a"; }
.flaticon-044-no-smoking:before { content: "\f12b"; }
.flaticon-045-wifi:before { content: "\f12c"; }
.flaticon-046-placeholder:before { content: "\f12d"; }
.flaticon-047-dessert:before { content: "\f12e"; }
.flaticon-048-ice-cream-1:before { content: "\f12f"; }
.flaticon-049-spaghetti:before { content: "\f130"; }
.flaticon-050-cafe:before { content: "\f131"; }
    
    $font-Flaticon-001-coffee: "\f100";
    $font-Flaticon-002-juice: "\f101";
    $font-Flaticon-003-menu: "\f102";
    $font-Flaticon-004-cupcake: "\f103";
    $font-Flaticon-005-menu-1: "\f104";
    $font-Flaticon-006-lamp: "\f105";
    $font-Flaticon-007-soup: "\f106";
    $font-Flaticon-008-cutlery: "\f107";
    $font-Flaticon-009-burger: "\f108";
    $font-Flaticon-010-wine: "\f109";
    $font-Flaticon-011-paper-cup: "\f10a";
    $font-Flaticon-012-coffee-1: "\f10b";
    $font-Flaticon-013-open: "\f10c";
    $font-Flaticon-014-order: "\f10d";
    $font-Flaticon-015-candle: "\f10e";
    $font-Flaticon-016-pizza: "\f10f";
    $font-Flaticon-017-cutlery-1: "\f110";
    $font-Flaticon-018-beverage: "\f111";
    $font-Flaticon-019-tea: "\f112";
    $font-Flaticon-020-dinning-table: "\f113";
    $font-Flaticon-021-beverage-1: "\f114";
    $font-Flaticon-022-burrito: "\f115";
    $font-Flaticon-023-pot: "\f116";
    $font-Flaticon-024-sauce: "\f117";
    $font-Flaticon-025-french-fries: "\f118";
    $font-Flaticon-026-croissant: "\f119";
    $font-Flaticon-027-service: "\f11a";
    $font-Flaticon-028-wine-1: "\f11b";
    $font-Flaticon-029-bill: "\f11c";
    $font-Flaticon-030-soup-1: "\f11d";
    $font-Flaticon-031-ketchup: "\f11e";
    $font-Flaticon-032-donut: "\f11f";
    $font-Flaticon-033-close: "\f120";
    $font-Flaticon-034-tea-pot: "\f121";
    $font-Flaticon-035-coffee-pot: "\f122";
    $font-Flaticon-036-beverage-2: "\f123";
    $font-Flaticon-037-cake: "\f124";
    $font-Flaticon-038-chicken: "\f125";
    $font-Flaticon-039-rice: "\f126";
    $font-Flaticon-040-bread: "\f127";
    $font-Flaticon-041-pan: "\f128";
    $font-Flaticon-042-ice-cream: "\f129";
    $font-Flaticon-043-number: "\f12a";
    $font-Flaticon-044-no-smoking: "\f12b";
    $font-Flaticon-045-wifi: "\f12c";
    $font-Flaticon-046-placeholder: "\f12d";
    $font-Flaticon-047-dessert: "\f12e";
    $font-Flaticon-048-ice-cream-1: "\f12f";
    $font-Flaticon-049-spaghetti: "\f130";
    $font-Flaticon-050-cafe: "\f131";